<?xml version="1.0"?>
<model>
  <name>red_cylinder</name>
  <version>0.1.0</version>
  <author>
   <name>Project 2 Group 2</name>
   <email>Aidan.N.Sing@student.uts.edu.au</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Red cylinder (0.03 radius, 0.12 length)
  </description>
</model>
